{% extends "base_logs.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>Inscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% endblock %}

{% block content %}

    <div class="container-logs">
        <div id="form-login">
            <header>
                <h1>Trello</h1>
                <p class="error">{{ error }}</p>
            </header>
            <div class="content">
                <h2>Inscription</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                    {% endfor %}
                    <button type="submit">Sign up</button>
                </form>
            </div>
            <footer>
                <p>Vous avez déjà un compte ? <a href="{% url 'signin' %}">Connectez-vous !</a></p>
            </footer>
        </div>
    </div>

{% endblock %}