{% extends "base_logs.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
{% endblock %}

{% block content %}

    <div class="container-logs">
        <div id="form-login">
            <header>
                <h1>Trello</h1>
                <p class="error">{{ error }}</p>
            </header>
            <div class="content">
                <h2>Connexion</h2>
                <form action="{% url 'signin' %}" method="post">
                    <div>
                        {% csrf_token %}
                        <label for="username" class="label">Username</label>
                        <input type="text" name="username" class="round-input" placeholder="exemple@mail.com"><br/>
                        <label for="password" class="label">Mot de passe</label>
                        <input type="password" name="password" class="round-input" placeholder="********"><br/>
                    </div>
                    <button>Se connecter</button>
                </form>
            </div>
            <footer>
                <p>Vous n'avez pas encore de compte ? <a href="{% url 'signup' %}">Créez-vous en un !</a></p>
            </footer>
        </div>
    </div>

{% endblock %}
